
@import url('https://fonts.googleapis.com/css?family=Meie+Script|Shadows+Into+Light|Arvo|Monda');
 
 body {
    background-image: url("../images/pow-star.png")
  }

h1 {
  font-family: 'Meie Script', cursive;
  background: rgb(221, 25, 162);
  text-align: center;
  font-size: 65px;
  font-weight: 600;
  padding: 5%;
  }

  #matchMe {
    font-size: 20px;
  }

  #wrap-around {
    border: solid; color: black; width: 25px;
  }
  
  #scores {
    display: block;
    background-color: pink;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
  }

  #crystals {
    padding-left: 50px;
    padding-right: 50px;
  }


   .score, .match-value {
    font-size: 25px;
   }

  .jumbotron {
      background-color: #ffff;
      background-position: center;
  }

  .button-image {
    content: "";
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: text-top;
    background-color: transparent;
    background-position : center center;
    background-repeat:no-repeat;
}

  .sappphire {
      background-image: url("../images/blue-sapphire.png")
  }

